* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/icons/ethiio\ bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.big {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.container {
    position: relative;
    box-shadow: 0 0 0 8px rgba(14, 171, 255, 0.2);
    width: 80%;
    max-height: 85vh;
    max-width: 700px;
    color: #fff;
    background: linear-gradient(135deg, #14323b,transparent);
    padding: 20px 25px;
    border: 4px solid rgb(255, 253, 253);
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 1;
}
.container::-webkit-scrollbar{
    display: none;
}
.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 30px;
    position: sticky;
    top: 10px;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0 25px;
    height: 50px;
    border-radius: 30px 0 0 30px;
    width: 75%;
    font-size: 18px;
}

.search:hover {
    box-shadow: 0 0 0 8px rgba(18, 211, 255, 0.3);
}

.search button {
    border: 0;
    outline: 0;
    background: #989898;
    color: hsl(0, 0%, 100%);
    width: 25%;
    height: 50px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.search button:active,
button:hover {
    background: #3333f9;
}

.search i {
    font-size: 20px;
    padding: 15px;
}

.error {
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
    display: none;
}

.weather {
    display: none;
    min-height: 50%;
}

#forecast {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    

}

.card {
    text-align: center;
    margin: 20px;
}

.weather .weather-icon {
    width: 50px;
    margin-top: 20px;
}

.details {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
    margin: 30px auto 0;
    font-size: 12px;
}

.col {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.col img {
    width: 30px;
    margin-right: 10px;
}

.temp {
    font-size: 50px;
}

.wind,
.humidity {
    font-size: 17px;

}
@media (max-width:650px) {
    #forecast {
        display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
}
@media (max-width:500px) {
 #forecast {
       font-size: 14px;
}
.weather .weather-icon {
    width: 45px;
    margin-top: 17px;
}

.details {
    font-size: 11px;
}
.col img {
    width: 23px;
   
}

.temp {
    font-size: 40px;
}

.wind,
.humidity {
    font-size: 15px;

}
.city{
    font-size: 18px;
}
}