* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/icons/ethiio\ bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.big {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.container {
    position: relative;
    box-shadow: 0 0 0 8px rgba(14, 171, 255, 0.2);
    width: 80%;
    max-height: 85vh;
    max-width: 800px;
    color: #fff;
    background: linear-gradient(135deg, #14323b,transparent);
    border: 4px solid rgb(255, 253, 253);
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 1;
}

.container::-webkit-scrollbar{
    display: none;
}
.container .header-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 30px;
    background: linear-gradient( rgba(0,0,0,0.2));
     position: sticky;
    top: 0;
}
.container.scrolled .header-container {
 backdrop-filter: blur(12px);
  background: linear-gradient( rgba(0,0,0,0.2));
}
.weather-title{
    color: #c0c0c0;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.weather-color{
    color: #3333f9;
}
.welcome-page{
    padding: 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.welcome-page h1{
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 30px;
   
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0 25px;
    height: 50px;
    border-radius: 30px 0 0 30px;
    width: 75%;
    font-size: 18px;
}

.search:hover {
    box-shadow: 0 0 0 8px rgba(18, 211, 255, 0.3);
}

.search button {
    border: 0;
    outline: 0;
    background: #0f0ffc;
    color: hsl(0, 0%, 100%);
    width: 25%;
    height: 50px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.search button:active,
button:hover {
    background: #3333f9;
}

.search i {
    font-size: 20px;
    padding: 15px;
}

.error {
    padding: 20px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.error p{
     font-size: 30px;
     color: rgb(255, 29, 29);
}
.weather {
    display: none;
    min-height: 50%;
}

#forecast {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    

}

.card {
    text-align: center;
    margin: 20px;
}

.weather .weather-icon {
    width: 50px;
    margin-top: 20px;
}

.details {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
    margin: 30px auto 0;
    font-size: 12px;
}

.col {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.col img {
    width: 30px;
    margin-right: 10px;
}

.temp {
    font-size: 50px;
}

.wind,
.humidity {
    font-size: 17px;

}
.footer-container{
    position: static;
    bottom: 0;
    width: 100%;
}
.footer-container p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 5px 2px;
    color: #b3b3b3;
}
@media (max-width:650px) {
    #forecast {
    grid-template-columns: 2fr 2fr 2fr;
}
.welcome-page h1{
    font-size: 18px;
}
.error p{
     font-size: 25px;
}
}
@media (max-width:500px) {
 #forecast {
       font-size: 14px;
}
.weather .weather-icon {
    width: 45px;
    margin-top: 17px;
}

.details {
    font-size: 11px;
}
.col img {
    width: 23px;
   
}

.temp {
    font-size: 40px;
}

.wind,
.humidity {
    font-size: 15px;

}
.city{
    font-size: 18px;
}
}
@media (max-width:450px){
    .container {
    width: 100%;
    border-radius: 8px;
}
.city-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.temp {
    font-size: 30px;
}
 #forecast {
        display: grid;
    grid-template-columns: 2fr 2fr;
}
}